# В этом каталоге будут храниться файлы базы данных SQLite или другие форматы, используемые в проекте.
# Ничего не должно попадаьт в репозиторий
*.*
# Файл .gitkeep используется для того, чтобы Git отслеживал пустой каталог (но у нас его рель исполняет .gitignore)
!.gitkeep