{#  <!-- ХЛЕБНЫЕ КРОШКИ: НАЧАЛО -->#}
  <footer class="container">
    <nav class="row">
      <div class="col-12 x d-flex align-items-center">
        &copy; 2009 &mdash; {% now 'Y' %}, Sergei Erjemin
        <div class="b88x31 ms-auto"><!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9116991-1"></script>
          <script>
            window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','UA-9116991-1');
          </script>
          Google Analytics
        </div>
        <div class="b88x31"><!-- Yandex.Metrika informer -->
          <a href="https://metrika.yandex.ru/stat/?id=198477&amp;from=informer" target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/198477/3_0_ECECECFF_CCCCCCFF_0_pageviews" style="width:88px;height:31px;border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"/></a><!-- /Yandex.Metrika informer -->
          <!-- Yandex.Metrika counter -->
          <script type="text/javascript">
            (function (m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})(window,document,"script","https://mc.yandex.ru/metrika/tag.js","ym");ym(198477,"init",{clickmap:true,trackLinks:true,accurateTrackBounce:true});
          </script><noscript>
            <div><img src="https://mc.yandex.ru/watch/198477" style="position:absolute; left:-9999px;" alt=""/></div>
          </noscript><!-- /Yandex.Metrika counter -->
        </div>
        <div class="b88x31"><!-- Rating Mail.ru counter -->
          <script type="text/javascript">var _tmr=window._tmr || (window._tmr = []);_tmr.push({id:"1612438",type:"pageView",start:(new Date()).getTime()}); (function(d,w,id) {if (d.getElementById(id)) return; var ts=d.createElement("script");ts.type="text/javascript";ts.async=true;ts.id = id;ts.src="https://top-fwz1.mail.ru/js/code.js";var f=function() {var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(ts s);};
    if(w.opera=="[object Opera]"){d.addEventListener("DOMContentLoaded",f,false); }else{f();}})(document,window,"topmailru-code");
          </script><noscript>
            <img src="https://top-fwz1.mail.ru/counter?id=1612438;js=na" style="border:0;;position:absolute;left:-9999px;" alt="Top.Mail.Ru" />
          </noscript><!-- //Rating Mail.ru counter -->
          <!-- Rating Mail.ru logo --><a href="https://top.mail.ru/jump?from=1612438;t=464;l=1"><img src="https://top-fwz1.mail.ru/counter?id=1612438;t=466;l=1" alt="Top.Mail.Ru" /></a><!-- //Rating Mail.ru logo -->
        </div>
        <div class="b88x31"><!-- begin of Top100 logo -->
          <a href="http://top100.rambler.ru/home?id=1739474"><img src="https://scounter.rambler.ru/img/top100/b5.gif" alt="Rambler's Top100" /></a><!-- end of Top100 logo -->
        </div>
      </div>
    </nav>
  </footer>{#<!-- ХЛЕБНЫЕ КРОШКИ: КОНЕЦ -->#}