{% load static %}{#  <!-- ПОДВАЛ: НАЧАЛО -->#}
  <footer class="container">
    <nav class="row">
      <div class="col-12 x d-flex align-items-center">
        &copy; Sergei Erjemin, 2009 &mdash; {% now 'Y' %}
        <div class="b88x31 ms-auto">{#<!-- Global site tag (gtag.js) - Google Analytics --> #}
          Google Analytics
        </div>
        <div class="b88x31">{# <!-- Yandex.Metrika counter id=198477 (было code 1612438 --> #}<noscript><div><img src="https://mc.yandex.ru/watch/198477" style="position:absolute; left:-9999px;" alt="" /></div></noscript>{# <!-- /Yandex.Metrika counter --> #}{# <!-- Yandex.Metrika informer --> #}
          <a href="https://metrika.yandex.ru/stat/?id=198477&from=informer" target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/198477/3_1_000000AA_CCCCCCDD_0_pageviews" style="width:88px;height:31px;border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"/></a>{# <!-- /Yandex.Metrika informer --> #}
        </div>
        <div class="b88x31">{# <!-- Rating Mail.ru counter --> #}
          <noscript>
            <img src="https://top-fwz1.mail.ru/counter?id=1612438;js=na" style="border:0;position:absolute;left:-9999px;" alt="Top.Mail.Ru" />
          </noscript>{# <!-- //Rating Mail.ru counter --> #}
          {# <!-- Rating Mail.ru logo --> #}<a href="https://top.mail.ru/jump?from=1612438"><img src="https://top-fwz1.mail.ru/counter?id=1612438;t=479;l=1" alt="Top.Mail.Ru"/></a>{# <!-- //Rating Mail.ru logo --> #}
        </div>
        <div class="b88x31">{# <!-- begin of Top100 logo --> #}
          <a href="http://top100.rambler.ru/home?id=1739474"><img src="https://scounter.rambler.ru/img/top100/b5.gif" alt="Rambler's Top100" /></a>{# <!-- end of Top100 logo --> #}
        </div>
      </div>
    </nav>
  </footer>{#<!-- ПОДВАЛ: КОНЕЦ -->#}
  <script defer src="{% static 'js/footer-counters.js' %}"></script>
