{% load static %}{# <!-- ШАПКА: НАЧАЛО --> #}<header{# class="d-none d-sm-block"#}>
    <nav class="navbar fixed-top navbar-expand py-0 shadow-lg">
      <div class="container">
        <a class="navbar-brand my-0" href="/"><img src="{% static 'svgs/logo_cadpoint-2021.svg' %}" alt="CADpoint.ru." title="На главную страницу" /></a>
        <ul class="navbar-nav float-right">
          <li class="nav-item"><a href="/alltags">Теги</a></li>
          <li class="nav-item d-none d-xl-block">
            <form class="form-inline"><div class="input-group">
              <input type="text" class="form-control form-control-sm" placeholder="Поиск по сайту" aria-label="Поиск по сайту">
              <div class="input-group-append"><button class="input-group-text"><img src="{% static 'svgs/search-ico.svg' %}" title="Поиск" /></button ></div>
            </div></form>
          </li>
      </ul>
      </div>
    </nav>
  </header>{# <!-- ШАПКА: КОНЕЦ --> #}
  {# <!-- РАСТОПЫРКА: НАЧАЛО --> #}<header class="rastopiir"></header>{# <!-- РАСТОПЫРКА: КОНЕЦ --> #}