{% comment %}Django шаблон
  Облако тегов (меток) -- выводит ярлыки-теги для страницы с листингом инфоюнитов. На ярлыках с метками
  помечается число их вхождений на текущей странице и общее число вхождений в базу.

  -------------
  Требует обязательного наличия параметров во сходящем словаре:

  TAGS_IN_PAGE -- QuerySet из записей таблицы taggit_taggeditem батарейки Django-Taggit или список словарей
  с тегами-метками. Ключи словаря:
  id -- taggit_taggeditem.id
  slug -- taggit_taggeditem.slug
  name -- taggit_taggeditem.name
  NumInPage -- число вхождений тега-метки на текущей странице
  NumTotal -- общее число вхождений тега-метки

  ------------
  Необязательные параметры:

  TAGS_L -- лист из слагов (slug), которые должны быть помечены как активные.

{% endcomment %}{% load slug_ru %}<!-- ОБЛАКО ТЕГОВ: НАЧАЛО -->
  <p class="tags">{% for I in TAGS_IN_PAGE %}{% if I.NumInPage > 0 %}{% if I.slug in TAGS_L %}
    <a href="{{ TAGS_S|rm_tag:I.slug }}" class="tag-active-current">
      {{ I.name }} &nbsp; <span class="tag-note"><sup><b>{{ I.NumInPage }}</b></sup>/<sub>{{ I.NumTotal }}</sub></span>
    </a>{% else %}
    <a href="{% if TAGS_L %}{{ TAGS_S }}_{% else %}/tag_{% endif %}{{ I.slug|lower }}" class="tag-active">
      {{ I.name }} &nbsp; <span class="tag-note"><sup><b>{{ I.NumInPage }}</b></sup>/<sub>{{ I.NumTotal }}</sub></span>
    </a>{% endif %}{% else %}
    <a href="/tag_{{ I.slug|lower }}" class="tag-not-active">
      {{ I.name }} &nbsp; <span class="tag-note"><sup><b>{{ I.NumInPage }}</b></sup>/<sub>{{ I.NumTotal }}</sub></span>
    </a>{% endif %}{% endfor %} &nbsp; <a href="/alltags" class="tag-not-active"><i class="bi bi-three-dots"></i> <i class="bi bi-arrow-right"></i> &nbsp; &nbsp;</a>
  </p>
  <!-- ОБЛАКО ТЕГОВ: НАЧАЛО -->