{% comment %}Django шаблон
  Облако тегов (меток) -- выводит ярлыки-теги для страницы с листингом инфоюнитов. На ярлыках с метками
  помечается число их вхождений на текущей странице и общее число вхождений в базу.

  -------------
  Требует обязательного наличия параметров во сходящем словаре:

  TAGS_IN_PAGE -- QuerySet из записей таблицы taggit_taggeditem батарейки Django-Taggit или список словарей
  с тегами-метками. Ключи словаря:
  id -- taggit_taggeditem.id
  slug -- taggit_taggeditem.slug
  name -- taggit_taggeditem.name
  NumInPage -- число вхождений тега-метки на текущей странице
  NumTotal -- общее число вхождений тега-метки

  ------------
  Необязательные параметры:


  ACTIVE_TAG_ID -- id тега, который должен быть помечен как активный.

  HIDEN_TAG_ID -- id тега, который надо "погасить" и не отображать в облаке.

  SEC -- ID таблицы tbSection для работы облака тегов при включеном фильтре по Разделам

  CAT -- ID таблицы tbCategories для работы облака тегов при включеном фильтре Категорий

{% endcomment %}<!-- ОБЛАКО ТЕГОВ: НАЧАЛО -->
  <p class="tags">{% for I in TAGS_IN_PAGE %}{% if I.id != HIDEN_TAG_ID %}{% if I.NumInPage > 0%}
    <a href="/tag_{{ I.slug|lower }}" class="tag-active{% if I.slug == ACTIVE_TAG_SLUG %}-current{% endif %}">
      {{ I.name }} &nbsp; <span class="tag-note"><sup><b>{{ I.NumInPage }}</b></sup>/<sub>{{ I.NumTotal }}</sub></span>
    </a>{% else %}
    <a href="/tag_{{ I.slug|lower }}" class="tag-not-active">
      {{ I.name }} &nbsp; <span class="tag-note"><sup><b>{{ I.NumInPage }}</b></sup>/<sub>{{ I.NumTotal }}</sub></span>
    </a>{% endif %}{% endif %}{% endfor %}{% if ACTIVE_TAG_SLUG %}
    <span class="label label-primary"><a href="?"><b class="glyphicon glyphicon-remove"></b></a></span>
  {% endif %}
  </p><!-- ОБЛАКО ТЕГОВ: НАЧАЛО -->