# Каталог для NPM-сборки Codemirror6 (для фронтенда админки).

# Папка `node_modules/` будет создана в процессе NPM-сборки Codemirror 6 (для фронтенда админки).
# Её соджержимое не должно попадать в репозиторий. Готовая сборка будет
# перемещна в ../public/static/codemirror/editor.js
node_modules/

src/

