{% extends "base.jinja2" %}{% load static %}{% load thumbnail %}{% load slug_ru %}

{% block META_OG %}{% comment %} РАЗМЕТКА Open Graph ДЛЯ СОЦ-СЕТЕЙ
  подробности: https://habr.com/ru/company/macloud/blog/555082/{% endcomment %}
  <meta property="og:title" content="cadpoint.ru: {{ ITEM.szContentHead|safe_html_ss }}">{% comment %} Уникальное название страницы.
   Используется парсерами URL-адресов в социальных сетях, таких как Twitter или Facebook{% endcomment %}
  <meta property="og:description" content="CADpoint: {{ ITEM.szContentHead|safe_html_ss }}" />{% comment %} Уникальное описание страницы.
   Используется парсерами URL-адресов в социальных сетях, таких как Twitter или Facebook.{% endcomment %}
  <meta property="og:image" content="{% if ITEM.imgContentPreview is None %}{% static 'img/og-cadpoint-default.png' %}{% else %}{% thumbnail ITEM.imgContentPreview 680x680 upscale %}{% endif %}" />{% comment %} Изображение, отображаемое, когда вы
   делитесь ссылкой на страницу в социальных сетях, приложениях чата или других сайтах,
   которые очищают URL-адреса.
   В идеале это должно быть квадратное изображение с важным содержанием, размещенным
   в центре квадрата в прямоугольнике с соотношением сторон 2:1. Это гарантирует,
   что изображение будет хорошо смотреться на карточках с изображениями прямоугольной
   и квадратной формы.{% endcomment %}
  <meta property="og:image:alt" content="cadpoint.ru: {{ ITEM.szContentHead|safe_html_ss }}" />{% comment %}
   Описание изображения.
   Не используйте этот метатег, если изображение носит чисто декоративный характер
   и не содержит значимой информации. Программы чтения с экрана игнорируют
   изображение, если мы предоставлен замещающий текст.{% endcomment %}
  <meta property="og:locale" content="ru_RU" />{% comment %}  Естественный язык страницы.{% endcomment %}
  <meta property="og:type" content="website" />{% comment %} Тип контента, которым вы делитесь,
   например website, article, или video.movie{% endcomment %}
  <meta property="og:url" content="https://cadpoint.ru/item/{{ ITEM.id }}-{{ ITEM.szContentHead|safe_html_ss|slug_ru:'50' }}" />{% comment %} Канонический URL страницы.
   Обязательное свойство для допустимых страниц Open Graph.{% endcomment %}
  <meta name="twitter:card" content="summary_large_image" />{% comment %} определяет, как будут выглядеть
   карточки при публикации в Twitter. Есть два варианта для веб-сайтов: summary
   и summary_large_image{% endcomment %}{% endblock %}

<!--- ТИТУЛ --->
{% block Title %}{{ ITEM.szContentHead|safe_html_ss }}{% endblock %}
{% block canonical %}https://cadpoint.ru/item/{{ ITEM.id }}-{{ ITEM.szContentHead|safe_html_ss|slug_ru:'50' }}{% endblock %}
{% block Description %}CADpoint: {{ ITEM.szContentHead|safe_html_ss }}{% endblock %}
{% block Keywords %}cadpoint, {% for t in ITEM.tags.all %}{{ t.name }}, {% endfor %}новости{% endblock %}
{% block Date4Meta %}{{ ITEM.tdContentPublishUp|date:'Y-m-d H:i:s' }}{% endblock %}"
{% block Last4Meta %}{{ ITEM.dtContentTimeStamp|date:'Y-m-d H:i:s' }}{% endblock %}"
{% block Expires4Meta %}{% now 'Y-m-d H:i:s' %}{% endblock %}"


{% block CONTENT %}{#  <!-- ХЛЕБНЫЕ КРОШКИ: НАЧАЛО -->#}
  <div class="container bread-crumb">
    <div class="row">
      <nav  class="col-12 х" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item nw s"><a href="/"><i class="bi bi-house-door" title="Главная"></i>&#8199;Главная</a></li>
          <li class="breadcrumb-item nw s"><a href="/p{{ PAGE }}">Стр. {{ PAGE|add:"1" }}</a></li>
          <li class="breadcrumb-item active s" aria-current="page">{{ ITEM.szContentHead|safe }}</li>
        </ol>
      </nav>
    </div>
  </div>{#<!-- ХЛЕБНЫЕ КРОШКИ: КОНЕЦ -->#}
  {#<!-- POINT-СРАНИЦА: НАЧАЛО -->#}<div class="container news">
    <div class="row">
      <div class="col-12 col-md-9">
        <time datetime="{{ ITEM.tdContentPublishUp|date:'Y-m-d' }}">{{ ITEM.tdContentPublishUp|date:'d E Y' }} <small>({{ ITEM.tdContentPublishUp|date:'l'|lower }})  <small title="Число просмотров"><i class="bi bi-eye"></i>&nbsp;{{ ITEM.iContentHits }}</small></small> </time>
        <h1>{{ ITEM.szContentHead|safe }}</h1>
        {{ ITEM.szContentIntro|safe }}
        {{ ITEM.szContentBody|safe }}
        {{ ITEM.szPointDes|safe }}{#  Текст страницы или приамбула перед списком #}
        <hr />
        <nav class="sm-tags">{% for t in ITEM.tags.all%}<a href="/tag_{{ t.slug|lower }}"><i class="bi bi-tag"></i> {{ t.name }}</a> &nbsp;  &#8198; {% endfor %}</nav>
      </div>
      {#<!-- БОКОВАЯ НАВИГАЦИЯ: НАЧАЛО-->#}<nav class="col order-last order-md-first">
        <div></div>{% for i in ITEMS_BEFORE reversed %}{% if i.id != ITEM.id %}<div>
            <time datetime="{{ i.tdContentPublishUp|date:'Y-m-d' }}">{{ i.tdContentPublishUp|date:'d E Y' }}</time>
            <p><i class="bi bi-newspaper"></i> <a href="/item/{{ i.id }}-{{ i.szContentHead|safe_html_ss|slug_ru:'50' }}{% if PER_PAGE %}?p={{ i.pp }}&n={{ i.nn }}{% endif %}">{{ i.szContentHead|safe }}</a></p>
        </div>{% endif %}{% endfor %}{% for i in ITEMS_AFTER %}{% if i.id != ITEM.id %}<div>
            <time datetime="{{ i.tdContentPublishUp|date:'Y-m-d' }}">{{ i.tdContentPublishUp|date:'d E Y' }}</time>
            <p><i class="bi bi-newspaper"></i> <a href="/item/{{ i.id }}-{{ i.szContentHead|safe_html_ss|slug_ru:'50' }}{% if PER_PAGE %}?p={{ i.pp }}&n={{ i.nn }}{% endif %}">{{ i.szContentHead|safe }}</a></p>
        </div>{% else %}<div class="active">
          <time datetime="{{ ITEM.tdContentPublishUp|date:'Y-m-d' }}">{{ ITEM.tdContentPublishUp|date:'d E Y' }}</time>
          <p><i class="bi bi-newspaper"></i> {{ ITEM.szContentHead|safe }}</p>
        </div>{% endif %}{% endfor %}
      </nav>{#<!-- боковая навигация: конец-->#}
    </div>
{# <!-- НИЖНЯЯ НАВИГАЦИЯ-ПАДЖИНАТОР ПО НОВОСТЯМ: НАЧАЛО--> #}{% if PER_PAGE %}
    <nav class="row" aria-label="Навигация по контенту">
      <ul class="col offset-md-3 pagination pl-3">{% if ITEMS_BEFORE.0.id %}
        <li class="page-item"><a class="page-link" href="/item/{{ ITEMS_BEFORE.0.id }}-{{ ITEMS_BEFORE.0.szContentHead|safe_html_ss|slug_ru:'50' }}?p={{ ITEMS_BEFORE.0.pp }}&n={{ ITEMS_BEFORE.0.nn }}"><i class="bi bi-arrow-left pr-4" title="Предыдущая"></i></a></li>{% else %}<li class="page-item disabled"><a class="page-link" href="#"><i class="bi bi-arrow-left pr-4" title="Предыдущая"></i></a></li>{% endif %}
      </ul>
      <ul class="col pagination justify-content-end">{% if ITEMS_AFTER|length <= 1 %}
       <li class="page-item disabled"><a class="page-link" href="#"><i class="bi bi-arrow-right pl-4" title="Следующая"></i></a></li>{% else %}<li class="page-item"><a class="page-link" href="/item/{{ ITEMS_AFTER.1.id }}-{{ ITEMS_AFTER.1.szContentHead|safe_html_ss|slug_ru:'50' }}?p={{ ITEMS_AFTER.1.pp }}&n={{ ITEMS_AFTER.1.nn }}"><i class="bi bi-arrow-right pl-4" title="Следующая"></i></a></li>{% endif %}
      </ul>
    </nav>{# <!-- НИЖНЯЯ НАВИГАЦИЯ-ПАДЖИНАТОР ПО НОВОСТЯМ: КОНЕЦ--> #}{% endif %}
  </div>{#<!-- POINT-СРАНИЦА: КОНЕЦ -->#}


{% endblock %}

{% block Top_JS1 %}<script type="text/javascript">
  </script>{% endblock %}
