# В этом каталоге будут храниться media-файлы Django (например, изображения, загружаемые пользователями).
# Это не должно попадаьт в репозиторий.
*.*

# Файл .gitkeep используется для того, чтобы Git отслеживал пустой каталог. Он не содержит никакого кода
# и служит только для сохранения структуры каталогов в репозитории.
!.gitkeep